/* App.css */
.App {
  text-align: center;
}

.game-container {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.game-field {
  width: 400px;
  height: 400px;
  background-color: #eee;
  position: relative;
}

.block {
  width: 40px;
  height: 40px;
  background-color: #0074d9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: top 1s, left 1s;
}

.score {
  margin-top: 10px;
  font-size: 20px;
}

.game-over {
  font-size: 24px;
  font-weight: bold;
  color: #e74c3c;
  margin-top: 20px;
}
